<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #add8e6;
      }
      tr:nth-child(odd) {
        background-color: #e6bbad;
      }
      tr:nth-child(1) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
